
body {
    background-color:black;

}
#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 20px); /* Subtract 20px for top/bottom margin */
}

#ctx {

    background-color: white;
    border:2px solid red;
    margin: 10px;

}
